<template id="users-template">
  <div class="min-h-screen bg-white dark:bg-transparent p-8">
    <div class="max-w-7xl mx-auto">
      <!-- Encabezado -->
      <div class="mb-8">
        <h1 class="text-xl font-bold text-gray-900 dark:text-white mb-2">Gestión de Usuarios</h1>
        <p class="text-md text-gray-600 dark:text-gray-400">Administra los usuarios del sistema y sus permisos.</p>
      </div>

      <!-- Controles -->
      <div class="bg-[#0A102F] p-4 rounded-md border-1 border-[#121837] grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">
                <!-- Búsqueda -->
        <div>
            <input-component 
                id="searchInput"
                type="text" 
                placeholder="Buscar por nombre, email o usuario..."
                name="component"
                label="Filtro general"
                class="w-full"
                icon="fa-solid fa-magnifying-glass"
             ></input-component>
        </div>
        <!-- Filtro por Rol -->
        <div>

          <select-component 
            id="roleFilter" 
            placeholder="Selecciona un rol"
            label="Filtro por Rol"
            multiple>
          </select-component>
        </div>
      </div>

      <!-- Tabla de Usuarios -->
      <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden">
        <table-component id="usersTable"></table-component>
      </div>

      <!-- Información de Filtrado -->
      <!-- Nota: La información se actualiza ahora dentro del footer de la tabla -->
    </div>
  </div>
</template>
