<template id="sidebar-template">
  <div class="w-full h-screen bg-gradient-to-t from-[#060C41] to-[#1A1C7F] flex flex-col">
    <div class="flex flex-row items-center gap-2 p-4">
      <div class="w-6 h-6 text-blue-400">
        <svg viewBox="0 0 24 24" fill="none" class="w-full h-full stroke-current">
          <path d="M12 2L4 6.5V17.5L12 22L20 17.5V6.5L12 2Z" stroke-width="1.5"/>
          <path d="M4 6.5L12 11L20 6.5" stroke-width="1.5"/>
          <path d="M12 11V22" stroke-width="1.5"/>
        </svg>
      </div>
      <h1 class="text-2xl font-bold">SCP</h1>
    </div>  
    <nav id="nav-options" class="flex flex-col gap-2 px-6 pt-4 pb-2 overflow-y-auto">
      <!-- Las opciones se renderizarán dinámicamente aquí -->
    </nav>
    <div class="px-6 py-4 flex flex-col">
      <div class="px-4">
        <div class="bg-[#282F7C] w-full h-0.5  mb-4"></div>
      </div>
      
      <div class="flex w-full items-center justify-between">
        <button id="logout-btn" class="px-4 py-2 rounded-lg text-gray-700 dark:text-gray-300 hover:bg-blue-50 hover:cursor-pointer dark:hover:bg-blue-900/30 hover:text-blue-600 dark:hover:text-blue-400 transition-colors font-medium text-sm text-left flex items-center gap-2" title="Cerrar sesión">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <p class="font-semibold text-gray-900 dark:text-white text-sm">Cerrar sesiòn</p>
        </button>
      </div>
    </div>
  </div>
</template>
